body {
  margin: 0;
  margin-top: 5rem;
  padding: 0;
  font-family: "SF Pro Display", "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #F7F4F7;
}

.header {
	position: absolute;
	font-size: 4rem;
  margin-top: 0rem;
  margin-bottom: -.5rem;
  font-weight: lighter;
}

.search {
	background-color: #48A4C5;
	width: 100%;
	top: 0;
	position: absolute;
	font-size: 2rem;
	box-shadow: none;
	border: none;
	margin: 0rem 0rem 0rem 0rem;
	padding: 1rem 1rem 1rem 1rem;
	color: white;
}

::placeholder {
	color: rgba(255,255,255,0.5);
	font-style: italic;
}